<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.atomikos" level="error"/>
    <logger name="org.apache.activemq" level="error"/>
    <!--logger name="com.atomikos.icatch" level="INFO"/>
    <logger name="com.atomikos.datasource.xa" level="INFO"/-->

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>